<!DOCTYPE html>
<html>
    <head>
        <title>Django Saskiqs Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Saskiqs Blog</a></h1>
        </header>

        <article>
            <time>published: 11.03.2026, 13:34</time>
            <h2><a href="">My first Post</a></h2>
            <p>Hallo Welt!</p>
            <p>Es funktioniert!!!</p>
            <p>Yissssssss!</p>
        </article>

        <article>
            <time>published: 11.03.2026, 13:37</time>
            <h2><a href="">My second Post</a></h2>
            <p>Wie geht's wie steht's Welt?</p>
            <p>Manchmal zu heftig, oder?</p>
            <p>Ich nehme vorweg: Yissssssss!</p>
        </article>
    </body>
</html>
